@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  /*border: 0;*/ }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*изменить в соответствии с макетом!*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1200px) {
    .container {
      max-width: 900px; } }
  @media (max-width: 991.98px) {
    .container {
      max-width: none;
      padding: 0px 40px; } }
  @media (max-width: 426px) {
    .container {
      padding: 0px 20px; } }

/*font-family: 'Lato', sans-serif;*/
/*font-family: 'PT Sans', sans-serif;*/
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #4f4f4f; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

/*===MAIN===*/
.main {
  background-image: url("../img/main/01.png");
  background-repeat: no-repeat;
  background-position: right; }
  @media (max-width: 991.98px) {
    .main {
      background: #f4f6f9; } }

.main-body {
  max-width: 700px;
  padding: 63px 0 164px 0; }
  @media (max-width: 1200px) {
    .main-body {
      background-image: -webkit-gradient(linear, left top, right top, from(#f4f6f9), color-stop(#f4f6f9), to(rgba(244, 246, 249, 0)));
      background-image: -webkit-linear-gradient(left, #f4f6f9, #f4f6f9, rgba(244, 246, 249, 0));
      background-image: -o-linear-gradient(left, #f4f6f9, #f4f6f9, rgba(244, 246, 249, 0));
      background-image: linear-gradient(to right, #f4f6f9, #f4f6f9, rgba(244, 246, 249, 0));
      background-repeat: no-repeat;
      background-position: left; } }
  @media (max-width: 991.98px) {
    .main-body {
      background: #f4f6f9;
      padding: 63px 0 100px 0; } }
  @media (max-width: 575.98px) {
    .main-body {
      padding: 63px 0 60px 0; } }

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  margin-bottom: 133px; }
  @media (max-width: 780px) {
    .main-logo {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 1200px) {
    .main-logo {
      margin-bottom: 100px; } }
  @media (max-width: 991.98px) {
    .main-logo {
      margin-bottom: 86px; } }

.logo-img {
  padding-right: 4px; }

.logo-txt {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: #5282f0; }

.main__title {
  max-width: 546px;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.03em;
  color: #333333;
  margin-bottom: 30px; }
  @media (max-width: 780px) {
    .main__title {
      max-width: none;
      text-align: center; } }
  @media (max-width: 426px) {
    .main__title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 33px; } }

.main__subtitle {
  max-width: 450px;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 50px; }
  @media (max-width: 780px) {
    .main__subtitle {
      text-align: center;
      margin: 0 auto 50px; } }
  @media (max-width: 479.98px) {
    .main__subtitle {
      max-width: none; } }
  @media (max-width: 426px) {
    .main__subtitle {
      max-width: none;
      font-size: 16px;
      line-height: 23px; } }

.store-links {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 780px) {
    .store-links {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.store-link {
  display: inline-block;
  margin-right: 36px; }
  .store-link:last-child {
    margin: 0; }
  .store-link img {
    max-width: 100%; }
  @media (max-width: 426px) {
    .store-link {
      margin-right: 28.6px; } }

/*===ABOUT===*/
.about-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 780px) {
    .about-body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.about-column__l {
  max-width: 100%;
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(white)), url("../img/about/back.jpg");
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), white), url("../img/about/back.jpg");
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), white), url("../img/about/back.jpg");
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), white), url("../img/about/back.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 805px 592px;
  padding: 109px 80px 50px 0; }
  @media (max-width: 780px) {
    .about-column__l {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-order: 2;
      -moz-order: 2;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.75)), to(white)), url("../img/about/back.jpg");
      background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), white), url("../img/about/back.jpg");
      background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), white), url("../img/about/back.jpg");
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), white), url("../img/about/back.jpg");
      padding: 70px 80px 77.7px 0; } }
  @media (max-width: 479.98px) {
    .about-column__l {
      padding: 70px 80px 40px 0; } }
  @media (max-width: 375px) {
    .about-column__l {
      padding: 70px 65px 10px 0; } }

.about-column__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 150px; }
  @media (max-width: 1200px) {
    .about-column__body {
      margin-right: 52px; } }
  @media (max-width: 991.98px) {
    .about-column__body {
      padding-left: 40px; } }
  @media (max-width: 780px) {
    .about-column__body {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0;
      padding: 0 60px 0 40px; } }
  @media (max-width: 426px) {
    .about-column__body {
      padding: 0 50px 0 30px; } }
  @media (max-width: 375px) {
    .about-column__body {
      padding: 0 40px 0 20px; } }

.about-column-item__img {
  position: relative; }

.about-img__txt {
  max-width: 100%;
  position: relative;
  z-index: 5;
  -webkit-box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
  box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
  border-radius: 4px; }

.about-img__img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  left: 105px;
  top: -30px;
  -webkit-box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
  box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5); }
  @media (max-width: 375px) {
    .about-img__img {
      left: 80px; } }

.about-column__r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff; }
  @media (max-width: 780px) {
    .about-column__r {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-order: 1;
      -moz-order: 1;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      padding-top: 54px; } }

.about-column-item {
  max-width: 420px; }
  @media (max-width: 1200px) {
    .about-column-item {
      padding: 20px 0 0 60px; } }
  @media (max-width: 991.98px) {
    .about-column-item {
      max-width: none;
      padding: 0 40px; } }
  @media (max-width: 780px) {
    .about-column-item {
      max-width: 670px;
      padding: 0 40px 40px; } }
  @media (max-width: 426px) {
    .about-column-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: none;
      padding: 0 20px 22px; } }

.about__subtitle {
  margin-bottom: 27px; }

.subtitle--h3 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 21px;
  color: #00adee; }
  @media (max-width: 426px) {
    .subtitle--h3 {
      text-align: center; } }

.about__title {
  margin-bottom: 27px; }
  @media (max-width: 426px) {
    .about__title {
      margin-bottom: 20px; } }

.title--h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px; }
  @media (max-width: 426px) {
    .title--h2 {
      text-align: center; } }

.about__text {
  margin-bottom: 22px; }
  @media (max-width: 426px) {
    .about__text {
      margin-bottom: 19px; } }

.text {
  line-height: 23px; }
  @media (max-width: 426px) {
    .text {
      text-align: center; } }

.link {
  font-weight: bold;
  line-height: 21px;
  color: #00adee; }
  .link:hover {
    text-decoration: underline; }

/*===GET STARTED===*/
.getstarted {
  background-color: #fff;
  padding: 62px 0 42px 0; }
  @media (max-width: 375px) {
    .getstarted {
      padding: 62px 0 0 0; } }

.getstarted-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 780px) {
    .getstarted-body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.getstarted-column-l {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 991.98px) {
    .getstarted-column-l {
      padding: 0 0 0 40px; } }
  @media (max-width: 780px) {
    .getstarted-column-l {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-bottom: 40px;
      padding: 0 40px; } }
  @media (max-width: 426px) {
    .getstarted-column-l {
      padding: 0 20px; } }

.getstarted-column-item {
  max-width: 478px;
  margin-right: 73px; }
  @media (max-width: 1200px) {
    .getstarted-column-item {
      max-width: 400px;
      margin-right: 53px; } }
  @media (max-width: 991.98px) {
    .getstarted-column-item {
      max-width: none; } }
  @media (max-width: 780px) {
    .getstarted-column-item {
      max-width: 590px;
      margin: 0; } }
  @media (max-width: 426px) {
    .getstarted-column-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.getstarted__subtitle {
  margin-bottom: 27px; }

.getstarted__title {
  margin-bottom: 27px; }

.getstarted__text {
  margin-bottom: 54px; }
  @media (max-width: 991.98px) {
    .getstarted__text {
      margin-bottom: 22px; } }

.getstarted-column-r {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media (max-width: 991.98px) {
    .getstarted-column-r {
      padding: 0 40px 0 0; } }
  @media (max-width: 780px) {
    .getstarted-column-r {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 40px; } }
  @media (max-width: 426px) {
    .getstarted-column-r {
      padding: 0; } }

.getstarted-column-img {
  padding-right: 65px; }
  @media (max-width: 991.98px) {
    .getstarted-column-img {
      padding: 0; } }

.getstarted__img {
  max-width: 100%; }
  @media (max-width: 426px) {
    .getstarted__img {
      display: none; } }

.getstarted__img--mob {
  display: none; }
  @media (max-width: 426px) {
    .getstarted__img--mob {
      max-width: 100%;
      width: 100vw;
      display: block; } }

/*===FEATURES===*/
.features {
  max-width: 100%;
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 173, 238, 0.5)), to(rgba(0, 173, 238, 0.5))), url("../img/features/back.png");
  background-image: -webkit-linear-gradient(left, rgba(0, 173, 238, 0.5), rgba(0, 173, 238, 0.5)), url("../img/features/back.png");
  background-image: -o-linear-gradient(left, rgba(0, 173, 238, 0.5), rgba(0, 173, 238, 0.5)), url("../img/features/back.png");
  background-image: linear-gradient(to right, rgba(0, 173, 238, 0.5), rgba(0, 173, 238, 0.5)), url("../img/features/back.png");
  background-repeat: no-repeat;
  background-color: #00adee;
  background-size: cover, contain;
  padding: 76px 0 66px; }
  @media (max-width: 991.98px) {
    .features {
      background-size: cover; } }
  @media (max-width: 426px) {
    .features {
      padding: 42px 0 66px; } }
  @media (max-width: 375px) {
    .features {
      background: #fff; } }

.features__title {
  margin-bottom: 59px; }
  @media (max-width: 426px) {
    .features__title {
      margin-bottom: 50px; } }

.title--h2--w {
  color: #fff;
  text-align: center; }
  @media (max-width: 375px) {
    .title--h2--w {
      color: #333333; } }

@media (max-width: 780px) {
  .features-body {
    margin-bottom: -54px; } }

.features-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px; }
  .features-row:last-child {
    margin-bottom: 0; }
  @media (max-width: 780px) {
    .features-row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 0; } }

.features-row__column {
  -webkit-box-flex: 33.3%;
  -ms-flex: 33.3%;
  flex: 33.3%;
  margin-right: 90px; }
  .features-row__column:last-child {
    margin-right: 0; }
  @media (max-width: 991.98px) {
    .features-row__column {
      margin-right: 50px; }
      .features-row__column:last-child {
        margin-right: 0; } }
  @media (max-width: 780px) {
    .features-row__column {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 0 54px; } }

@media (max-width: 780px) {
  .features-column-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 300px; } }
  @media (max-width: 780px) and (max-width: 375px) {
    .features-column-item {
      max-width: none; } }

.features-column-icon {
  margin-bottom: 15px; }

@media (max-width: 375px) {
  .features-column__icon {
    display: none; } }

.features-column__iconMob {
  display: none; }
  @media (max-width: 375px) {
    .features-column__iconMob {
      display: inline; } }

.text--w {
  color: #fff; }
  @media (max-width: 780px) {
    .text--w {
      text-align: center; } }
  @media (max-width: 375px) {
    .text--w {
      color: #4f4f4f; } }

.features-column__circle {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 5px 2px 0; }
  @media (max-width: 375px) {
    .features-column__circle {
      display: none; } }

/*===WHAT USERS SAY===*/
.users {
  background-color: #fff;
  padding: 68px 0 50px; }

.users__title {
  margin-bottom: 63px; }

.users__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 55px; }

.arrow {
  width: 47px;
  height: 47px;
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  border-radius: 50%;
  border: 1px solid #00ADEE;
  background-color: #fff;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  .arrow:hover {
    -webkit-box-shadow: none;
    box-shadow: none; }

.arrow--prev {
  left: 8%;
  background-image: url("../img/users/icons/arrow__l.svg");
  background-position: 45% 50%; }

.arrow--next {
  right: 8%;
  background-image: url("../img/users/icons/arrow__r.svg");
  background-position: 50% 50%; }

.users-slider {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 60px 47px 60px; }

.users-slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all; }

.slider__item {
  margin: 0 17.5px; }
  .slider__item img {
    max-width: 100%; }

.users__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.dot {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 11px; }
  .dot:last-child {
    margin-right: 0; }

.dot--active {
  border: 1px solid #333; }

#dot1 {
  background-color: #828282; }

#dot2 {
  background-color: #979595; }

#dot3 {
  background-color: #B2B0B0; }

#dot4 {
  background-color: #CDCBCB; }

#dot5 {
  background-color: #E2E1E1; }

#dot6 {
  background-color: #EEEEEE; }

@media (max-width: 991.98px) {
  .users-slider {
    margin: 0 40px 47px; } }

@media (max-width: 426px) {
  .users__arrows {
    top: 70px; }
  .arrow--prev {
    display: none; }
  .arrow--next {
    right: 5px; }
  .users-slider {
    margin: 0 10px 47px; }
  .slider__item {
    width: 100%;
    margin: 0 10px; }
    .slider__item img {
      width: 100%; } }

@media (max-width: 375px) {
  .users {
    padding: 68px 0 71px; }
  .users__title {
    margin-bottom: 39px; } }

/*===PARTNERS===*/
.partners {
  background-color: #fafafa;
  padding: 57px 0 70px; }
  @media (max-width: 991.98px) {
    .partners {
      padding: 57px 0 30px; } }

.partners__title {
  margin-bottom: 58px; }
  @media (max-width: 426px) {
    .partners__title {
      margin-bottom: 43px; } }

.title--h2--cntr {
  text-align: center; }

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -35px; }
  @media (max-width: 1200px) {
    .partners-list {
      margin: 0 -25px; } }
  @media (max-width: 991.98px) {
    .partners-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.partners-list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 991.98px) {
    .partners-list-group {
      margin-bottom: 40px; } }
  @media (max-width: 665px) {
    .partners-list-group {
      /*flex: 1 1 100%;*/ } }

.partners-list-item {
  margin: 0 35px; }
  @media (max-width: 1200px) {
    .partners-list-item {
      margin: 0 25px; } }

.partners__link img {
  max-width: 100%; }

/*===GET CLOSE===*/
.getclose-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1200px) {
    .getclose-body {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  @media (max-width: 910px) {
    .getclose-body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.getclose-column-l {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  margin-right: 43px; }
  @media (max-width: 910px) {
    .getclose-column-l {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-order: 2;
      -moz-order: 2;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }
  @media (max-width: 910px) {
    .getclose-column-l {
      margin-right: 0; } }

.getclose-column-img {
  /*padding-right: 43px;*/ }
  .getclose-column-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media (max-width: 991.98px) {
    .getclose-column-img {
      /*padding-right: 13px;*/ } }
  @media (max-width: 910px) {
    .getclose-column-img {
      padding-right: 0; } }

.getclose-column-r {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%; }
  @media (max-width: 910px) {
    .getclose-column-r {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      -webkit-order: 1;
      -moz-order: 1;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 23px; } }
  @media (max-width: 375px) {
    .getclose-column-r {
      padding-top: 15px; } }

.getclose-column-item {
  max-width: 530px; }
  @media (max-width: 1200px) {
    .getclose-column-item {
      max-width: 445px; } }
  @media (max-width: 991.98px) {
    .getclose-column-item {
      max-width: none;
      padding: 0 40px 0 0; } }
  @media (max-width: 910px) {
    .getclose-column-item {
      max-width: 780px;
      padding: 0 40px;
      margin-bottom: 50px; } }
  @media (max-width: 780px) {
    .getclose-column-item {
      max-width: none; } }
  @media (max-width: 426px) {
    .getclose-column-item {
      padding: 0 20px; } }

.getclose__title {
  margin-bottom: 35px; }
  @media (max-width: 910px) {
    .getclose__title {
      text-align: center; } }
  @media (max-width: 375px) {
    .getclose__title {
      margin-bottom: 15px; } }

.text--lh25 {
  line-height: 25px; }
  @media (max-width: 910px) {
    .text--lh25 {
      text-align: center; } }

.getclose__text {
  margin-bottom: 38px; }

@media (max-width: 910px) {
  .getclose-links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/*===FOOTER===*/
.footer {
  background-color: #00adee;
  padding: 50px 0; }
  @media (max-width: 910px) {
    .footer {
      padding: 45px 0; } }

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 910px) {
    .footer-row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

@media (max-width: 910px) {
  .footer-row > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; } }

@media (max-width: 910px) {
  .footer-row__column1 {
    margin-bottom: 11px; } }

@media (max-width: 910px) {
  .footer-row__column2 {
    -webkit-order: 3;
    -moz-order: 3;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; } }

@media (max-width: 910px) {
  .footer-row__column3 {
    -webkit-order: 2;
    -moz-order: 2;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 34px; } }

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start; }

.logo-txt--w {
  color: #fff; }

.footer-menu__link {
  font-weight: bold;
  line-height: 21px;
  color: #fff;
  margin-right: 37px; }
  .footer-menu__link:last-child {
    margin-right: 0; }
  @media (max-width: 479.98px) {
    .footer-menu__link {
      margin-right: 19px; }
      .footer-menu__link:last-child {
        margin-right: 0; } }
  @media (max-width: 375px) {
    .footer-menu__link {
      font-size: 14px;
      margin-right: 14px; }
      .footer-menu__link:last-child {
        margin-right: 0; } }

.footer-social__link {
  margin-right: 17px; }
  .footer-social__link:last-child {
    margin-right: 0; }
